.listaDeTareas{
    display: flex;
    flex-flow: column;
    height: fit-content;
    margin-top: 10rem;
}


.tarea-lista-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

button{
    border: none;
}

.post-button{
    background-color: orange;
    border: solid black 2px;
    width: 100%;
    padding: 20px;
    margin: 10px;
}